# Nexa foundation development stack
ensure oxmysql
ensure chat
ensure nexa-lib
ensure nexa-core
ensure nexa_identity
ensure nexa_characters
ensure nexa_playerstate
ensure nexa-character
ensure nexa-identity
ensure nexa_config
ensure nexa_locales
ensure nexa_audit
ensure nexa_logs
ensure nexa_featureflags
ensure nexa_permissions
ensure nexa_api
ensure nexa_security
ensure nexa-core-test
ensure nexa-character-test
